@import url( 'https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

$breakpoints: (
  "xs": 340px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  "2xl": 1536px,
);

@function breakpoint($size) {
    @return map-get($breakpoints, $size);
}


.home {
    #typing {
        font-size: 1.2rem;
        letter-spacing: 0;
        font-family: 'Gloria Hallelujah', cursive;
    }
    
    .bg-gradient {
        position: absolute;
        right: 0;
        left: 40%;
        background: linear-gradient(101deg, transparent 52%, #0d0d0d 52%);
        height: 110vh;
        top: 0;
        z-index: 0;
        pointer-events: none;
    }
    &#scroll_snap_container {
        height: 100vh;
        width: 100%;
        overflow-y: scroll;
        scroll-snap-type: y mandatory;
        background-color: #f7f7f7;
        color: black;
        transition: all 1s ease;
    
        &.bg-dark {
            background-color: #131313;
            color: white;
        }
    
        section {
            position: relative;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
            display: flex;
            align-items: center;
            scroll-snap-align: start;
            padding: 50px 1rem 10px;
            justify-content: space-around;


            // background-image: url("../src/assets/images/Logo.png");
            &:nth-child(even) {
                background-color: #0d0d0d;
                color: white;
            }

            &.portfolio-section {
                background: none !important;
            }
    
            > div {
                z-index: 1;
                max-width: 1280px;
            }
    
            .skill-icon {
                cursor: help;
                border: 1px solid transparent;
                border-radius: 5px;
                padding: 10px;
                transition: all 1s ease;
                &:hover {
                    border: 1px solid white;
                }
                &:nth-child(even) {
                    animation-delay: 200ms;
                }
                height: 100px;
                width: auto;
                margin: 0.5rem;
    
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                svg {
                    width: 90px;
                }
                @media screen and (max-width: 576px) {
                    padding: 3px;
                    margin: 0.2rem 0;
                    height: 45px;
                    width: 70px;
                }
            }
            @media screen and (min-width: breakpoint(md)) {
                justify-content: center;
            }
        }
    }
    
    .icon-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
        @media screen and (max-width: 340px) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            width: 100vw;
        }
        @media (orientation: landscape) and (max-width: 576px) {
            flex-wrap: nowrap;
            overflow-x: scroll;
            width: 100vw;
        }
    }
    
    
    .skills-overview {
        .web-skills, .game-skills {
            background-color: rgb(25 25 30);
            padding: 0.5rem;
            box-shadow: 0 0 5px #363636;
            border-radius: 5px;
        }

        @media screen and (min-width: #{breakpoint(xs)}) and (max-width: #{breakpoint(sm)}) {
        }
        @media screen and (min-width: #{breakpoint(sm)}) and (max-width: #{breakpoint(md)}) {
        }
        @media screen and (min-width: #{breakpoint(md)}) and (max-width: #{breakpoint(lg)}) {
        }
        @media screen and (min-width: #{breakpoint(lg)}) and (max-width: #{breakpoint(xl)}) {
        }
        @media screen and (min-width: #{breakpoint(xl)}) {
            .web-skills, .game-skills {
                border: 1px solid white;
                padding: 80px;
            }
        
            .web-skills {
                border-radius: 0px 60px 60px 60px;
            }
        
            .game-skills {
                border-radius: 60px 0px 60px 60px;
            }
        }
    }

    .portfolio-wrapper {
        height: 100vh;
        scroll-snap-align: start;
    }

    .portfolio-section {
        display: flex;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
        outline: none;

        @media screen and (max-width: #{breakpoint(md)}) {
            flex-direction: column;
        }

        .portfolio-main-title {
            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 3rem;
            font-weight: bold;
            z-index: 10;
            margin: 0;
            width: 100%;
            text-align: center;
            transition: all 0.6s;

            @media screen and (min-width: #{breakpoint(md)}) {
                font-size: 4rem;
            }
        }

        &:has(.side.web.active) .portfolio-main-title {
            background: linear-gradient(to right, black 0%, black 60%, white 60%, white 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        &:has(.side.game.active) .portfolio-main-title {
            background: linear-gradient(to right, black 0%, black 40%, white 40%, white 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        &:not(:has(.side.active)) .portfolio-main-title {
            background: linear-gradient(to right, black 0%, black 50%, white 50%, white 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .side {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            transition: all 0.6s;
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            text-decoration: none;

            &.web {
                background-color: #f7f7f7;
                color: black;
            }

            &.game {
                background-color: #0d0d0d;
                color: white;
            }

            &.active {
                flex: 1.2;
            }

            .title {
                position: absolute;
                top: calc(30%);
                transform: translateY(-50%);
                z-index: 2;

                @media screen and (max-width: #{breakpoint(md)}) {
                    top: 5rem;
                }
            }
        }

        .controller {
            position: absolute;
            top: 50%;
            transition: left 0.6s, transform 0.6s;
            z-index: 5;
            display: block;

            &.none {
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &.web {
                left: 25%;
                transform: translate(-50%, -50%);
            }

            &.game {
                left: 75%;
                transform: translate(-50%, -50%);
            }

            .controller-image {
                width: 100px;
                height: 100px;
            }

            @media screen and (max-width: #{breakpoint(md)}) {
                display: none;
            }
        }

        .friendly-indicator {
            position: absolute;
            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.2rem;
            color: #ffffff;
            text-align: center;
            opacity: 0.8;
            animation: fade-in-out 5s infinite;
            background-color: rgb(25, 25, 30);
            padding: 2rem;
            border: 2px solid #454549;

            p {
                margin: 0;
            }

            @media screen and (max-width: #{breakpoint(md)}) {
                bottom: 5%;
            }
        }

        @keyframes fade-in-out {
            0%, 65% {
                opacity: 1;
            }
            90% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    }

    .featured-projects {
        .grid {
            display: grid;
            grid-auto-rows: 1fr;
        }
    }
}






