@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');


* {
    font-family: 'Oswald', sans-serif;
}


p {
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 200;
}

.btn {
    border-radius: 5px;
    box-shadow: 2px 2px 10px #0000005e;
    padding: 5px 10px;
    border: 1px solid grey;

    &-play {
        background-color: green;
        color: white;
    }

    &-white {
        // background-color: #9c27b0;

        background-color: #fff;
        color: #000;
        border: 1px solid black;
    }

    &:hover {
        box-shadow: none;
        border: 1px solid black;
    }
}

.generic-link {
    text-decoration: underline;
    &:hover {
        color: grey;
        cursor: pointer;
    }
}


// section {
//     margin-bottom: 5rem !important;
// }


#scroll_snap_container {
    max-height: 100vh; /* Set to a specific height to allow scrolling */
    overflow-y: auto; /* Ensure scroll is enabled */
  }